<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Python: Variáveis & Tipos de Dados
Caderno de **Exercícios**<br>
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

Crie uma célua de texto e adicione uma imagem.

In [60]:
print("Olá mundo!")

Olá mundo!

---

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [61]:
qtv_19 = 3
tkt_19 = 320.52

vtv_19 = tkt_19 * qtv_19
print(vtv_19)

961.56

In [62]:
vtt_20 = 834.47
tkt_20 = 119.21

qtv_20 = vtt_20 / tkt_20
print(int(qtv_20))

7

In [63]:
vtt_23 = 15378.12
qtv_23 = 5

tkt_23 = vtt_23 / qtv_23
print(round(tkt_23, 2))

3075.62

---

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

In [64]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

print(cancao.casefold())
print(cancao.endswith('pião.'))
print(cancao.casefold().count('roda'))

roda mundo, roda gigante, roda moinho, roda pião.
True
4

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [65]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'

selic = noticia[12:16]
ano = noticia[62:63]

print('A taxa selic é de: ' + selic)
print('O ano é: ' + ano)

A taxa selic é de: 2,75
O ano é: 6

---

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [66]:
a = False
b = True

x = not a & b

print('O valor da variável x é True, pois após negação da variavel A, true & true retorna true')
print(x)

O valor da variável x é True, pois após negação da variavel A, true & true retorna true
True